<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}Top 5 Keywords</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body >
  <a class="r-link ai-element ai-element_padding-all ai-element4" href="/">Map</a> |
  <a class="r-link ai-element ai-element_padding-all ai-element4" href="/nodes">Network of Keyword Nodes</a>
  <h1>{{title}}</h1>

 
  <section style='height:40%'><div style='width:60%; float:left' id="chart"></div><div style='width:40%; float:left'><img src="{{ url_for('static', filename='') }}{{ country }}"/></div></section>

  <div id="table" style='float:left;'></div>
    <!-- <button id="submit" type="submit" class="btn btn-default">Chart</button> -->
  <script type="text/javascript" src="{{ url_for('static', filename='coel.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='table.js') }}"></script>
</body>

</html>