<!--add mouse overs for keywords, add links to country page-->
<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v2.min.js?2.9.3"></script>
<style>

.link {
  stroke: rgb(255, 61, 61);
}

.node text {
font-size: 13px;
font-family: Sans-Serif;
stroke:#333;


}

.node circle{
stroke:rgb(55, 104, 196);
stroke-width:3px;
fill:rgb(153, 223, 255);
}

</style>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-color:rgb(202, 202, 202)">
    <div id="c">
        <a class="r-link ai-element ai-element_padding-all ai-element4" href="country/Global">Entire World Data</a> |
        <a class="r-link ai-element ai-element_padding-all ai-element4" href="/nodes">Network of Keyword Nodes</a>
      </div>
<div >
<script>


var width = window.innerWidth,
    height = window.innerHeight

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);


var force = d3.layout.force()
    .gravity(.07)
    .distance(130)
    .charge(-310)
    .size([width, height]);

wordIndex = {}

// d3.json("http://localhost:5000/world").then(function(dat){
//   console.log(dat)
// })


//.then(function(dat){
//   console.log(dat)
// })
json = {}
d3.json("{{ url_for('static', filename='graph.json') }}", function(json) {
console.log(json.nodes[0].name)


//d3.json("/world", function(words){
words = JSON.parse('{{ flaskJSON | tojson | safe }}')
console.log("do I exist?")
console.log(words)

wordIndex = words //lord

topWord = {}
for (v in wordIndex){
  console.log(wordIndex[v][wordIndex[v].length -1])
  console.log(wordIndex[v][wordIndex[v].length -2])
  topWord[v] = wordIndex[v][wordIndex[v].length -1][0] +", "+ wordIndex[v][wordIndex[v].length -2][0]

  // words = 0
  // for (k in wordIndex[v]){
  //   console.log(k +" " + v)
  //   console.log(typeof topWord[v])
  //   if (typeof topWord[v] !== 'undefined'){
  //   topWord[v] = topWord[v] +", "+ k
    
  //   }else{topWord[v] = k}
  //   //on here once!
  //   words++
  //   if (words >= 2){break;}
    
      //}
}
console.log(topWord)
for (item in json.nodes){
  
  console.log(json.nodes[item].name)
  //if(json.nodes[item].name === "GLOBAL"){continue}
  console.log(json.nodes[item])
  if (topWord[json.nodes[item].name]){
  json.nodes[item].name = json.nodes[item].name + ': ' + topWord[json.nodes[item].name].toUpperCase()
  }
  
}

console.log(json.nodes)

console.log(json)

  
  force
      .nodes(json.nodes)
      .links(json.links)
      .start();

  var link = svg.selectAll(".link")
      .data(json.links)
    .enter().append("line")
      .attr("class", "link")
    .style("stroke-width", function(d) { return Math.sqrt(d.weight); }); //weight not used yet

  var node = svg.selectAll(".node")
      .data(json.nodes)
    .enter().append("g")
      .attr("class", "node")
      .call(force.drag);

  node.append("circle")
      .attr("r","6");

      
  node.append("text")
      .attr("dx", -60)
      .attr("dy", "-.90em")
      .attr("title", "test tooltip")
      .text(function(d) { return d.name });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });

})
window.onresize = function(){ location.reload(); }

</script>
</div>
</body>
</html>